.App h1{
  text-align: center;
  margin: 5px 0px 30px 0px;
}

.display{
  margin: 0px auto 0px auto;
  background-color: black;
  width: 30%;
  height: 80px;
  color: white;
}

.display h2 {
  float: right;
}

.calculator{
  margin: 0px auto 0px auto;
  width: 30%;
  height: auto;
}

.calculatorButton button{
  padding: 15px auto 15px auto;
}

.colour1{
  background-color: silver;
}


